.body__nosotros{
    background-color:$principal;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:0.25fr,1fr,1fr, 1fr ,0.25fr;
    row-gap:2em ;
    min-height:100vh;
    
    }.arreglo1{
        position: sticky;
        z-index: 20;
    }.wpp__position{

        grid-row: 2/2;
        grid-column: 4/9;
    
    }.wpp__image {
        height: 120vh;
        width: 140%;
    
        border-style: solid;
        border-width: 3px;
        padding: 2%;
        margin: 8px;
        border-color: #CE241A;
    }
    .cattering__information {
        grid-row: 3/3;
        grid-column: 2/12;
        display: flex;
        flex-direction: row;
    }
    .coffetruck__format {
        position: relative;
        height: 54vh;
    }
    .information__format{
        grid-column:5/10 ;
        grid-row: 3/3;
        }
    .information__format2  {
        position: relative;
        font-size: 80px;
        font-family: 'Italiana', serif;
        color: #CE241A;
        text-decoration-line: overline;
        text-decoration-color: #956027;
        justify-items: center;
        align-items: end;
        top:20%;
    
    }
    .table__format {
        background-image: linear-gradient(#a58d74,green);
        grid-row:4/4;
        grid-column:4/11;
        position: relative;
        bottom: 30px;
        width: 100%;
        border: 2px double;
        height: 130%;
        justify-items: center;
    }
    @media only screen and (max-width: 600px) {
        .wpp__image {
            height: 80vh;
            width: 140%;
        
            border-style: solid;
            border-width: 3px;
            padding: 2%;
            margin: 8px;
            border-color: #CE241A;
        }
        .information__format2  {
            position: relative;
            font-size: 20px;
            font-family: 'Italiana', serif;
            color: #CE241A;
            text-decoration-line: overline;
            text-decoration-color: #956027;
            justify-items: center;
            align-items: end;
            top:20%;
        
        }
    }