.picture2{
    @include position(2,4);
.distribution{
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows:0.20fr 1fr 1fr 1fr 0.15fr ;
grid-auto-rows: (100px,auto);
row-gap:2ch;

}
}.sthetic{ 
p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: #336971;
}
img {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border-style: ridge;
    border-width: 5px;
    border-color: #336971;
    cursor: pointer;
}
}
.product{
    @include position(2,9);
    }

    .main__headers1{ 
        position: absolute;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        opacity: 0;
        font-size: 20px;
        color: $principal;
    
    h5{ 
        font: size 20px; ;
        padding: 15%;
    }
    &:hover{ 
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }}
    .producto4{
        @include position(3,9);
    }

    .txt{
        position:relative;
        left: 40%;
        background-color: rgba(0, 0, 0,0);
        height: 100%;
        width: 25%;
        size: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0,0);
        position: relative;
        transition: all .3s;
    
    h5{
    font-size: 2rem;
    padding-bottom: 10vh; 
        }
h4{
    font-size: 1rem;
    color:#CE241A;
    overflow: visible;
        }
    &:hover{
    background-color: rgba(0, 0, 0,0.6);
        opacity: 1;
        
    }}
    .image_product{
        height: 150vh;
        width:150vw;
        z-index: -1;
    }
    .producto3{
        @include position(2,6);
    }

    .producto5{
        grid-column: 4;
        grid-row:3;

    }
    .producto6{
        @include position(3,7);
        grid-column: 7;
        grid-row:3;
    }
    @media only screen and (max-width: 600px) {

        .txt h5{
            font-size: 95%;
            padding-bottom: 10vh;
            
        }
        .txt h4{
            font-size: 75%;
            color:#CE241A;
            overflow:scroll; 
        }



    }
@media only screen and (max-width: 1200px) {

.productos__responsive{
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows: 0.30fr 0.30fr 0.30fr  ;
}
    .sthetic p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        font-size: 15px;
        color: #336971;
    }
    .producto4{
        @include position(4,6);
        grid-column: 6/6;
        grid-row:4/4;
    }
}