
.distribution{
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows:0.20fr 1fr 1fr 1fr 0.15fr ;
grid-auto-rows: (100px,auto);
row-gap:2ch;
 
}
.sthetic{ 
p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: #336971;
}
img {
    position: relative;
    margin: 10px 10px 10px 10px;
    align-items: center;

    justify-content: center;
    justify-content: space-evenly;

    padding: 5px;
    border-style: ridge;
    border-width: 5px;
    border-color: #336971;
    cursor: pointer;
}
}

    .main__headers1{ 
        position: absolute;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        opacity: 0;
        font-size: 20px;
        color: $principal;
    
    h5{ 
        font: size 20px; ;
        padding: 15%;
    }
    &:hover{ 
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }}

    .txt{
        position:relative;
        left: 40%;
        background-color: rgba(0, 0, 0,0);
        height: 84%;
        width: 100%;
        size: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0,0);
        position: relative;
        transition: all .3s;
    
    h5{
    font-size: 2rem;
    padding-bottom: 10vh; 
        }
h4{
    font-size: 1rem;
    color:#CE241A;
    overflow: visible;
        }
    &:hover{
    background-color: rgba(0, 0, 0,0.6);
        opacity: 1;
        
    }}
    .image_product{
        display: flex;
        height: 200px;
        width:200px;
        z-index: -1;
    }
.product--answer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px) {
        .txt{
            position:relative;
            left: 40%;
            background-color: rgba(0, 0, 0,0);
            height: 55%;
            width: 35%;
            size: auto;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0,0);
            position: relative;
            transition: all .3s;
    

            
        &:hover{
        background-color: rgba(0, 0, 0,0.6);
            opacity: 1;
            
        }}
        .txt h5{
            font-size: 95%;
            padding-bottom: 10vh;
            
        }
        .txt h4{
            font-size: 75%;
            color:#CE241A;
        }


.productos__responsive{
    display: flex;
    flex-direction: column;
}
}
@media only screen and (min-width:600px){
    .productos__responsive{

        display: flex;
        flex-direction: row;
    }
}
.txt{
    position:relative;
    left: 40%;
    background-color: rgba(0, 0, 0,0);
    height: 84%;
    width: 50%;
    size: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0);
    position: relative;
    transition: all .3s;

h5{
font-size: 2rem;
padding-bottom: 10vh; 
    }
h4{
font-size: 1rem;
color:#CE241A;
overflow: visible;
    }
&:hover{
background-color: rgba(0, 0, 0,0.6);
    opacity: 1;
    
}}
@media only screen and (min-width: 1200px) {
    .sthetic p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        font-size: 15px;
        color: #336971;
    }
    .product--answer{
        display: flex;
        flex-direction: row;
    }
    .productos__responsive{
        display: flex;
        flex-direction: row;
    }
    .txt{
        position:relative;
        left: 40%;
        background-color: rgba(0, 0, 0,0);
        height: 84%;
        width: 80%;
        size: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0,0);
        position: relative;
        transition: all .3s;
    
    h5{
    font-size: 1rem;
    padding-bottom: 3vh; 
        }
    h4{
    font-size: 0.5rem;
    color:#CE241A;
    overflow: visible;
        }
    &:hover{
    background-color: rgba(0, 0, 0,0.6);
        opacity: 1;
        
    }
    }
    .image_product{
        display: flex;
        height: 150px;
        width:150px;
        z-index: -1;
    }}