/*Variables*/
/*variables*/
/*GLOBALES*/
/* normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 1; }

body {
  background-color: #1f322e;
  background-color: #A1DED2; }

.format__values, .head__format, .head__format1, .head__format2 {
  width: 100%;
  font-family: "Italiana", serif;
  text-align: center; }

main {
  width: 90%;
  margin: 0 auto; }

.main__headers {
  display: flex;
  flex-direction: column; }

/* PARTIALS*/
.head__orientation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%; }

.navegation__display {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none; }
  .navegation__display a {
    color: #CE241A;
    font-size: 20px; }
    .navegation__display a:hover {
      color: dodgerblue;
      font-size: xx-large; }

.footer__format1 {
  background-image: url("../image/footer_image.jpeg");
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-row: 5/5;
  grid-column: 1/13; }
  .footer__format1 p {
    position: relative;
    color: black;
    text-shadow: 2px 2px black;
    font-family: var(--font-primary);
    text-align: center;
    z-index: 19;
    left: 23rem; }

.footer--line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .footer--line h3 {
    font-size: 36px; }

.footer--information {
  list-style-type: none; }

.footer--information {
  text-align: center; }

@media only screen and (max-width: 600px) {
  .footer__format1 p {
    position: relative;
    color: black;
    text-shadow: 2px 2px black;
    font-family: var(--font-primary);
    font-size: 28px;
    text-align: center;
    z-index: 19;
    left: 8rem; } }

/* VIEWS*/
.distribution__index {
  background-color: #A1DED2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.20fr 1fr 0.15fr;
  grid-auto-rows: 100px, auto;
  row-gap: 2ch; }

.index__structure {
  grid-row: 2/2;
  grid-column: 0/12;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto; }

.main1 {
  width: 90%;
  margin: 0 auto; }

.image__dimensions {
  padding: 5px;
  height: 80%;
  width: 100%;
  grid-column: 7/12;
  grid-row: 2/5; }

.titulo {
  text-align: center;
  font-family: "Italiana", serif;
  color: #CE241A;
  font-size: 10rem; }

.head__display {
  display: flex;
  flex-direction: column;
  font-size: 200%; }

.head__format {
  text-align: left;
  grid-row: 2/2;
  grid-column: 1/4; }

.head__format1 {
  font-weight: bold;
  margin: 10%;
  text-align: left;
  grid-row: 2/2;
  grid-column: 1/4; }

.head__format2 {
  font-weight: bold;
  margin: 10%;
  text-align: left;
  grid-row: 2/2;
  grid-column: 1/4; }

.head__format4 {
  position: relative;
  grid-column: 2 /5;
  grid-row: 2/2;
  display: flex;
  flex-direction: row;
  width: 100%;
  left: 20%; }

.form__format {
  width: 13vw;
  padding: 20px 20px;
  border-radius: 8px;
  background-color: burlywood;
  margin: 5px,5px,5px,5px; }

@media only screen and (max-width: 600px) {
  .image__dimensions {
    height: 50%; }
  .head__display {
    font-size: 22px; } }

@media only screen and (max-width: 1200px) {
  .image__dimensions {
    position: relative;
    height: 60%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/5; }
  .head__display {
    display: flex;
    flex-direction: column;
    font-size: 190%; }
  .head__format {
    width: 100%;
    font-family: var(--fon-primary);
    text-align: center;
    text-align: left;
    grid-row: 2/2;
    grid-column: 1/4; } }

@media only screen and (max-width: 1200px) {
  .index__structure {
    grid-row: 2/2;
    grid-column: 1/12;
    display: flex;
    flex-direction: column; } }

.mb-3 {
  position: relative;
  width: 70%;
  left: 3rem; }

.distribution3 {
  background-color: #A1DED2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 0.15fr;
  grid-auto-rows: 100px, auto; }

.review__location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 52vh;
  grid: row 2/3;
  grid-column: 2/12; }

.califications__style1 {
  height: 40%;
  width: 30%;
  border: solid;
  border-width: 3px;
  border-radius: 10%;
  padding: 5px 5px 5px 5px;
  border-color: #112D3C; }

@media only screen and (max-width: 1200px) {
  .review__location {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .califications__style1 {
    height: 50%;
    width: 50%;
    border: solid;
    border-width: 3px;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    border-color: #112D3C; } }

.card {
  width: auto;
  display: grid;
  background-image: linear-gradient(#A1DED2, #CE241A); }

.card1 {
  display: grid;
  grid-row: 2/2; }

.card2 {
  position: relative;
  display: grid;
  grid-row: 2/2;
  grid-column-start: 2;
  grid-column-end: 3; }

.card__acomodation {
  font-size: 130%;
  margin: 1rem 1rem 1rem 1rem; }

.panorama {
  width: 80%;
  display: grid;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 12; }

.historia--format {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#A1DED2, #CE241A); }

@media only screen and (max-width: 900px) {
  .historia--format {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#A1DED2, #CE241A); }
  .panorama {
    display: none; }
  .card2 {
    display: flex;
    grid-row: 3/3;
    grid-column: 1/4;
    background-image: linear-gradient(#A1DED2, #CE241A); } }

.body__nosotros {
  background-color: #A1DED2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  row-gap: 2em;
  min-height: 10vh; }

.arreglo1 {
  position: sticky;
  z-index: 20; }

.wpp__position {
  grid-row: 2;
  grid-column: 5; }

.wpp__image {
  height: 62vh;
  width: 500%;
  border-style: solid;
  border-width: 3px;
  padding: 2%;
  margin: 8px;
  border-color: #CE241A; }

.cattering__information {
  grid-row: 3/3;
  grid-column: 2/12;
  display: flex;
  flex-direction: row; }

.coffetruck__format {
  position: relative;
  height: 54vh; }

.information__format {
  grid-row: 1;
  grid-column: 0.5; }

.information__format2 {
  position: relative;
  font-size: 80px;
  font-family: 'Italiana', serif;
  color: #CE241A;
  text-decoration-line: overline;
  text-decoration-color: #956027;
  justify-items: center;
  align-items: end;
  top: 20%; }

.table__format {
  background-image: linear-gradient(#a58d74, green);
  grid-row: 4;
  grid-column: 4/11;
  position: relative;
  width: 100%;
  border: 2px double;
  height: 30%;
  justify-items: center; }

@media only screen and (max-width: 600px) {
  .wpp__image {
    height: 50vh;
    width: 700%;
    border-style: solid;
    border-width: 3px;
    padding: 2%;
    margin: 8px;
    border-color: #CE241A; }
  .coffetruck__format {
    position: relative;
    height: 24vh; }
  .information__format2 {
    position: relative;
    font-size: 20px;
    font-family: 'Italiana', serif;
    color: #CE241A;
    text-decoration-line: overline;
    text-decoration-color: #956027;
    justify-items: center;
    align-items: end;
    top: 20%; } }

.distribution {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.20fr 1fr 1fr 1fr 0.15fr;
  grid-auto-rows: 100px, auto;
  row-gap: 2ch; }

.sthetic p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 25px;
  color: #336971; }

.sthetic img {
  position: relative;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 5px;
  border-style: ridge;
  border-width: 5px;
  border-color: #336971;
  cursor: pointer; }

.main__headers1 {
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  opacity: 0;
  font-size: 20px;
  color: #A1DED2; }
  .main__headers1 h5 {
    font: size 20px;
    padding: 15%; }
  .main__headers1:hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 1; }

.txt {
  position: relative;
  left: 40%;
  background-color: rgba(0, 0, 0, 0);
  height: 84%;
  width: 100%;
  size: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  transition: all .3s; }
  .txt h5 {
    font-size: 2rem;
    padding-bottom: 10vh; }
  .txt h4 {
    font-size: 1rem;
    color: #CE241A;
    overflow: visible; }
  .txt:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1; }

.image_product {
  display: flex;
  height: 200px;
  width: 200px;
  z-index: -1; }

.product--answer {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media only screen and (max-width: 600px) {
  .txt {
    position: relative;
    left: 40%;
    background-color: rgba(0, 0, 0, 0);
    height: 55%;
    width: 35%;
    size: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    transition: all .3s; }
    .txt:hover {
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 1; }
  .txt h5 {
    font-size: 95%;
    padding-bottom: 10vh; }
  .txt h4 {
    font-size: 75%;
    color: #CE241A; }
  .productos__responsive {
    display: flex;
    flex-direction: column; } }

@media only screen and (min-width: 600px) {
  .productos__responsive {
    display: flex;
    flex-direction: row; } }

.txt {
  position: relative;
  left: 40%;
  background-color: rgba(0, 0, 0, 0);
  height: 84%;
  width: 50%;
  size: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  transition: all .3s; }
  .txt h5 {
    font-size: 2rem;
    padding-bottom: 10vh; }
  .txt h4 {
    font-size: 1rem;
    color: #CE241A;
    overflow: visible; }
  .txt:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1; }

@media only screen and (min-width: 1200px) {
  .sthetic p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: #336971; }
  .product--answer {
    display: flex;
    flex-direction: row; }
  .productos__responsive {
    display: flex;
    flex-direction: row; }
  .txt {
    position: relative;
    left: 40%;
    background-color: rgba(0, 0, 0, 0);
    height: 84%;
    width: 80%;
    size: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    transition: all .3s; }
    .txt h5 {
      font-size: 1rem;
      padding-bottom: 3vh; }
    .txt h4 {
      font-size: 0.5rem;
      color: #CE241A;
      overflow: visible; }
    .txt:hover {
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 1; }
  .image_product {
    display: flex;
    height: 150px;
    width: 150px;
    z-index: -1; } }
