
/* normalize*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    grid-column-start: 1;
    grid-column-end:12 ;
    grid-row-start: 1;
    grid-row-end:1 ;
}

body{
    @if $color-theme==dark{
    background-color: $blacker;
    }
    @if $color-theme==light{
        background-color: $lighted;
        }
    @else{
        background-color: $principal;
    }}
.format__values{
    width: 100%;
    font-family: $font-primary;
    text-align: center;
}