.footer__format1 {
    background-image: url("../image/footer_image.jpeg");
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-row: 5/5;
    grid-column: 1/13;

p {
    position: relative;
    color: black;
    text-shadow: 2px 2px black;
    font-family: var(--font-primary);
    text-align: center;
    z-index: 19;
    left: 23rem;

  
}}
.footer--line{
    display: flex;
    flex-direction: row;
    h3{
        font-size: 36px;
    }
    align-items: center;
    justify-content: space-around
}
.footer--information{


    list-style-type: none;
}

.footer--information{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    

    .footer__format1 p {
        position: relative;
        color: black;
        text-shadow: 2px 2px black;
        font-family: var(--font-primary);
        font-size: 28px;
        text-align: center;
        z-index: 19;
        left: 8rem;
    }}